.userWrapper {
    height: 100%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.users {
    width: 300px;
    margin: 10px;
    padding: 15px;
    border: 2px solid indigo;
}

.users h3 {
    text-align: center;
}

.users div {
    margin: 5px;
    padding: 5px;
}

.postButton {
    text-align: center;
}

.posts {
    outline: none;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    border: 2px solid indigo;
    background-color: indigo;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

.posts:hover {
    background-color: #4CAF50;
    color: white;
}

.posts:active {
    background-color: indigo;
    color: white;
}
