.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal_content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.4s all;
    width: 50vw;
    text-align: center;
}

.modal_content.active {
    transform: scale(1);
}

.addNewTitle {
    padding: 5px;
    margin: 10px;
    width: 30%;
    outline: none;
    font-style: italic;
}

.addNewText {
    padding: 5px;
    margin: 10px;
    width: 80%;
    outline: none;
    resize: none;
    overflow: auto;
    font-style: italic;
}

.sendButton {
     background-color: indigo;
     color: white;
     border: 2px solid indigo;
     border-radius: 10px;
 }

.sendButton:active {
    background-color: indigo;
    color: white;
}

.sendButton:hover {
    background-color: #4CAF50;
    color: white;
}