.detailsButton {
    background-color: indigo;
    color: white;
    border: 2px solid indigo;
    border-radius: 10px;
}

.detailsButton:active {
    background-color: indigo;
    color: white;
}

.detailsButton:hover {
    background-color: #4CAF50;
    color: white;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.commentsWrapper {
    height: 100%;
    width: 40%;
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.singleComment {
    border: 1px solid indigo;
    padding: 10px;
    border-radius: 10px;
    margin: 5px auto;
}

.postContainer {
    border: 1px solid indigo;
    border-radius: 10px;
    margin: 10px auto;
    padding: 15px;
}
textarea {
    outline: none;
    resize: none;
    overflow: auto;
    width: 500px;
    height: 150px;
}