.appWrapper {
    background-image: url('./images/photo.jpg')
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}